<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets//invitation.scss">
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="jquery.js"></script> -->
  <script type="text/javascript" src="sample.js"></script>
  <title>"wedding invitation"</title>
</head>
<body class="slide-bottom">
    <div class="main">
        <div class="title">
            <p>
                Wedding Invitation
            </p>
        </div>
        <div class="button">
            <div class="button1">
                <a href="#message">
                    <div>MESSAGE</div>
                    <!-- <img src="/assets//button1.png" class="button" onclick="goClick()" alt="MESSAGE"> -->
                    
                </a>
            </div>
            <div class="button2">
                <a href="#events">
                    <div>EVENTS</div>
                    <!-- <img src="/assets//button2.png" class="button" onclick="goClick()" alt="EVENTS"> -->
                </a>
            </div>
            <div class="button3">
                <a href="#RSVP">
                    <div>RSVP</div>
                    <!-- <img src="/assets//button3.png" class="button" onclick="goClick()" alt="RSVS"> -->
                </a>
            </div>
        </div>
    </div>
    <div class="message" id="message">
        <!-- <div class="olive">
            <img src="/assets//olive.png">
        </div> -->
        <div class="title">
            <h2>MESSAGE</h2>
        </div>
        <div class="content">
            <p class="slide-bottom">
                謹啓
                <br>
                <br>
                花の訪れに心浮き立つ頃となりました。
                <br>
                皆様はいかがお過ごしでしょうか。
                <br>
                さて、この度私たちは結婚することになりました。
                <br>
                つきましては、日頃お世話になっております皆様方をお招きして
                <br>
                ささやかながらご挨拶を兼ねた小宴を催したいと存じます。
                <br>
                ご多用のおり誠に恐縮ですが、お越し頂ければ幸いです。
                <br>
                <br>
                また、会終了後に別所にて二次会パーティーを催します。
                <br>
                よろしければこちらにもご参加いただけますと幸いです。
                <br>
                <br>
                謹白
                <br>
                2020年 3月 吉日
                <br>
                篠塚　史弥 　　
                加藤　杏咲
            </p>
        </div>
        <div class="profile">
            <ul class="broom">
                <li class="photo">
                    <img src="/assets//fumiya.jpg" alt="broom">
                </li>
                <li class="name">
                    <h3>篠塚&emsp;史弥</h3>
                    <span>しのづか&emsp;ふみや</span>
                    </li>
                <li class="text">
                    <p>
                        1989年11月19日、神奈川県生まれ。O型。会社員。
                        <br>
                        アウトドアが好きで週末は車で少し遠くまで出掛けます。ギターが好きです。
                        <br>
                        <br>
                        美味しい料理・お酒をご用意してお待ちしております！</p>
                </li>
            </ul>
            <div class="and">
            </div>
            <ul class="bride">
                <li class="photo">
                    <img src="/assets//azu.jpg" alt="bride">
                </li>                    
                <li class="name">
                    <h3>加藤&emsp;杏咲</h3>
                    <span>かとう&emsp;あず</span>
                </li>
                <li class="text">
                    <p>
                        1996年5月22日、東京都生まれ。A型。会社員。
                        <br>
                        自然を体感するのが大好きです。
                        <br>
                        本を読んだり、旅行することも好きです。
                        <br>
                        <br>
                        当日、皆様にお会いできることを楽しみにしています。
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="countdown">
        <div class="content">
            <div class="title">
                <h2>COUNTDOWN</h2>
                <h3>to 2020.5.23 Sat</h3>
            </div>
            <div class="timer" id="result">
                <div class="d" id="day">
                    <script language="javascript" type="text/javascript">
                        var endDate = new Date('2020/05/23 11:00:00');
                        var interval = 1000;
                        function countdownTimer(){
                            var nowDate = new Date();
                            var period = endDate - nowDate ;
                            var addZero = function(n){return('0'+n).slice(-2);}
                            var addZeroDay = function(n){return('0'+n).slice(-3);}
                            if(period >= 0) {
                            var day = Math.floor(period / (1000 * 60 * 60 * 24));
                            period -=  (day　*(1000 * 60 * 60 * 24));
                            var hour = Math.floor(period / (1000 * 60 * 60));
                            period -= (hour *(1000 * 60 * 60));
                            var minutes =  Math.floor(period / (1000 * 60));
                            period -= (minutes * (1000 * 60));
                            var second = Math.floor(period / 1000);
                            var insert = "";
                            insert += '<li class="num"><span class="d">' + addZeroDay(day) + '</span></li>';
                            insert += '<li class="init"><span class="">DAYS</span></li>';
                            document.getElementById('day').innerHTML = insert;
                            setTimeout(countdownTimer,10);
                            }
                            else{
                                var insert = "";
                                var number = 0;
                                insert += '<span class="d">' + number + number + '</span>';
                                document.getElementById('day').innerHTML = insert;
                            }
                        }
                        countdownTimer();
                    </script>
                </div>
                <div class="h" id="h">
                    <script language="javascript" type="text/javascript">
                        var endDate = new Date('2020/05/23 11:00:00');
                        var interval = 1000;
                        function countdownTimer(){
                            var nowDate = new Date();
                            var period = endDate - nowDate ;
                            var addZero = function(n){return('0'+n).slice(-2);}
                            var addZeroDay = function(n){return('0'+n).slice(-3);}
                            if(period >= 0) {
                            var day = Math.floor(period / (1000 * 60 * 60 * 24));
                            period -=  (day　*(1000 * 60 * 60 * 24));
                            var hour = Math.floor(period / (1000 * 60 * 60));
                            period -= (hour *(1000 * 60 * 60));
                            var minutes =  Math.floor(period / (1000 * 60));
                            period -= (minutes * (1000 * 60));
                            var second = Math.floor(period / 1000);
                            var insert = "";
                            insert += '<li class="num"><span class="h">' + addZero(hour) + '</span></li>';
                            insert += '<li class="init"><span class="">HOURS</span></li>';
                            document.getElementById('h').innerHTML = insert;
                            setTimeout(countdownTimer,10);
                            }
                            else{
                                var insert = "";
                                var number = 0;
                                insert += '<span class="h">' + number + number + '</span>';
                                document.getElementById('h').innerHTML = insert;
                            }
                        }
                        countdownTimer();
                    </script>
                </div>
                <div class="m" id="m">
                    <script language="javascript" type="text/javascript">
                        var endDate = new Date('2020/05/23 11:00:00');
                        var interval = 1000;
                        function countdownTimer(){
                            var nowDate = new Date();
                            var period = endDate - nowDate ;
                            var addZero = function(n){return('0'+n).slice(-2);}
                            var addZeroDay = function(n){return('0'+n).slice(-3);}
                            if(period >= 0) {
                            var day = Math.floor(period / (1000 * 60 * 60 * 24));
                            period -=  (day　*(1000 * 60 * 60 * 24));
                            var hour = Math.floor(period / (1000 * 60 * 60));
                            period -= (hour *(1000 * 60 * 60));
                            var minutes =  Math.floor(period / (1000 * 60));
                            period -= (minutes * (1000 * 60));
                            var second = Math.floor(period / 1000);
                            var insert = "";
                            insert += '<li class="num"><span class="m">' + addZero(minutes) + '</span></li>';
                            insert += '<li class="init"><span class="">MINUTES</span></li>';
                            document.getElementById('m').innerHTML = insert;
                            setTimeout(countdownTimer,10);
                            }
                            else{
                                var insert = "";
                                var number = 0;
                                insert +=  '<span class="m">' + number + number + '</span>';
                                document.getElementById('m').innerHTML = insert;
                            }
                        }
                        countdownTimer();
                    </script>
                </div>
                <div class="s" id="s">
                    <script language="javascript" type="text/javascript">
                        var endDate = new Date('2020/05/23 11:00:00');
                        var interval = 1000;
                        function countdownTimer(){
                            var nowDate = new Date();
                            var period = endDate - nowDate ;
                            var addZero = function(n){return('0'+n).slice(-2);}
                            var addZeroDay = function(n){return('0'+n).slice(-3);}
                            if(period >= 0) {
                            var day = Math.floor(period / (1000 * 60 * 60 * 24));
                            period -=  (day　*(1000 * 60 * 60 * 24));
                            var hour = Math.floor(period / (1000 * 60 * 60));
                            period -= (hour *(1000 * 60 * 60));
                            var minutes =  Math.floor(period / (1000 * 60));
                            period -= (minutes * (1000 * 60));
                            var second = Math.floor(period / 1000);
                            var insert = "";
                            insert += '<li class="num"><span class="s">' + addZero(second) + '</span></li>';
                            insert += '<li class="init"><span class="">SECONDS</span></li>';
                            document.getElementById('s').innerHTML = insert;
                            setTimeout(countdownTimer,10);
                            }
                            else{
                                var insert = "";
                                var number = 0;
                                insert += '<span class="s">' + number + number + '</span>';
                                document.getElementById('s').innerHTML = insert;
                            }
                        }
                        countdownTimer();
                    </script>
                </div>
                    
            </div>
        </div>
    </div>
    <div class="events" id="events">
        <div class="contents">
            <div class="title">
                <p>EVENTS</p>
            </div>
            <div class="schedule">
                <ul class="ceremony">
                    <li class="title">
                        <!-- <span>挙式</span> -->
                        <h3>挙式</h3>
                    </li>
                    <li class="day">
                        <p>2020.5.23 Sat</p>
                    </li>
                    <li class="time">
                        <p>11:00</p>
                    </li>
                    <li class="receptiontime">
                        <p>受付時間 <span class="Didot">10:45</span></p>
                    </li>
                </ul>
                <ul class="reception">
                    <li class="title">
                        <!-- <span>披露宴</span> -->
                        <h3>披露宴</h3>
                    </li>
                    <li class="day">
                        <p>2020.5.23 Sat</p>
                    </li>
                    <li class="time">
                        <p>11:30</p>
                    </li>
                    <li class="receptiontime">
                        <p>受付時間 <span class="Didot">11:00</span></p>
                    </li>
                </ul>
                <ul class="party">
                    <li class="title">
                        <!-- <span>二次会</span> -->
                        <h3>二次会</h3>
                    </li>
                    <li class="day">
                        <p>2020.5.23 Sat</p>
                    </li>
                    <li class="time">
                        <p>16:30</p>
                    </li>
                    <li class="receptiontime">
                        <p>受付時間 <span class="Didot">16:00</span><span><br><br>男性：8000円<br>女性：7000円</span></p>
                    </li>
                </ul>
            </div>
            <div class="place">
                <ul class="ogasawara">
                    <p class="name">小笠原伯爵邸</p>
                    <p class="address">〒162-0054<br>
                        東京都新宿区河田町10-10</p>
                    <p class="phone">03-3359-5830</p>
                    <p class="HP"><a href="https://www.ogasawaratei.com/">https://www.ogasawaratei.com/</a></p>
                    <p class="access">
                        <br>
                        <br>
                        都営大江戸線「若松河田」駅　河田口より徒歩1分
                        <br>
                        JR山手線「新宿」駅　よりタクシーで10分
                    </p>
                    <p class="attention">大変恐縮ですが、お車でのお越しはご遠慮ください</p>
                    <div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.133335109905!2d139.71532231522895!3d35.698336336641155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ce40ecd72b3%3A0x809651f43f6e12d2!2z5bCP56yg5Y6f5Lyv54i16YK4!5e0!3m2!1sja!2sjp!4v1580024013203!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </ul>
                <ul class="hibiya">
                    <p class="name">DRAWING HOUSE OF HIBIYA</p>
                    <p class="address">〒100-0066<br>
                        東京都千代田区有楽町1-1-2 東京ミッドタウン日比谷6F</p>
                    <p class="phone">03-3519-3700</p>
                    <p class="HP"><a href="https://drawing.restaurant/">https://drawing.restaurant/</a></p>
                    <p class="access">
                        <br>
                        <br>
                        東京メトロ千代田線・日比谷線 ・都営地下鉄三田線「日比谷」駅直結
                        <br>
                        JR山手線・京浜東北線「有楽町」駅　徒歩5分
                        </p>
                    <p class="attention">大変恐縮ですが、お車でのお越しはご遠慮ください</p>
                    <div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.128736748405!2d139.7570057652284!3d35.67383198798521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bee3cf5818b%3A0x2c4beff9dc43a879!2z5p2x5Lqs44Of44OD44OJ44K_44Km44Oz5pel5q-U6LC3!5e0!3m2!1sja!2sjp!4v1581852047789!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="RSVP" id="RSVP">
        <div class="content">
            <div class="content_in">
                <div class="title">
                    <p>RSVP</p>
                </div>
                <div id="googleform" class="form">
                    <form id="weddingRSVP">
                        <div class="rsvp_form">
                            <div class="attention">
                                <p class="attention">お手数ではございますが、ご都合の程を出席情報のご登録をお願い申し上げます。</p>
                                <p class="deadline">
                                    <span>2020.4.24</span> までにご回答をお願いいたします。
                                </p>
                            </div>
                            <div class="radio">
                                <ul class="radio">
                                    <p>披露宴</p>
                                    <li class="attendance">
                                        <input id="attendance" class="attendance" type="radio" name="entry.975059739" value="出席" checked>
                                        <label class="label" for="attendance">ご出席<br><span class="q0">attend</span></label>
                                    </li>
                                    <li class="attendance">
                                        <input id="absence" class="attendance" type="radio" name="entry.975059739" value="欠席">
                                        <label class="label" for="absence">ご欠席<br><span class="q0">decline</span></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="radio">
                                <ul class="radio">
                                    <p>二次会</p>
                                    <li class="attendance">
                                        <input id="attendance" class="attendance" type="radio" name="entry.324250959" value="出席" checked>
                                        <label class="label" for="attendance">ご出席<br><span class="q0">attend</span></label>
                                    </li>
                                    <li class="attendance">
                                        <input id="absence" class="attendance" type="radio" name="entry.324250959" value="欠席">
                                        <label class="label" for="absence">ご欠席<br><span class="q0">decline</span></label>
                                    </li>
                                </ul>
                                <span>よろしければぜひ二次会にもご出席をよろしくおねがいします。</span>
                            </div>
                            <div class="self_info">
                                <p class="attention_title">
                                    * は必須項目です</p>
                                <dl>
                                    <dt class="name">
                                        <p class="required">名前</p><span class="Name">Name</span>
                                    </dt>
                                    <dd class="name">
                                        <input id="FirstName" class="FirstName" type="text" name="entry.1994453717" placeholder="姓" value="" required>
                                        <input id="LastName" class="LastName" type="text" name="entry.1620822843" placeholder="名" value="" required>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="name">
                                        <p class="required">かな</p><span class="q2">Kana</span>
                                    </dt>
                                    <dd class="name">
                                        <input id="firstname" class="firstname" type="text" name="entry.1219969065" placeholder="せい" value="" required>
                                        <input id="lastname" class="lastname" type="text" name="entry.1462943272" placeholder="めい" value="" required>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="postalcode">
                                        <p class="required">〒郵便番号</p><span class="q3">Postcode</span>
                                    </dt>
                                    <dd class="postalcode">
                                        <input id="postalcode" class="postalcode" type="text" name="entry.574647903" placeholder="0000000" value="" required>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="address">
                                        <p class="required">住所</p><span class="q4">Address</span>
                                    </dt>
                                    <dd class="address">
                                        <input id="address" class="address" type="text" name="entry.670953149" placeholder="住所" value="" required>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="email">
                                        <p class="required">メールアドレス</p><span class="q6">Mail Address</span>
                                    </dt>
                                    <dd class="email">
                                        <input id="email" class="email" type="text" name="entry.708372901" placeholder="メールアドレス" value="" required>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="allergy">
                                        <p class="unrequired">アレルギー</p><span class="q7">Allergy</span>
                                    </dt>
                                    <dd class="allergy">
                                        <input id="alllergy" class="allergy" type="text" name="entry.1305233498" placeholder="アレルギー" value="">
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="message">
                                        <p class="unrequired">新郎/新婦を表す漢字</p><span class="q8">Message</span>
                                    </dt>
                                    <dd class="message">
                                        <textarea id="message" name="entry.2052204914" rows="3" placeholder="新郎：○ , 新婦：○ など"></textarea>
                                    </dd>
                                </dl>
                            </div>
                            <div class="container">
                                <input class="submit_btn" type="submit" id="button" name="submit" form="weddingRSVP" placeholder="送信"></input>
                                    <script language="javascript" type="text/javascript">
                                        $(function() {
                                            $( "#button" ).click(function() {
                                                $( "#button" ).addClass( "onclic", 250, validate);
                                            });

                                            function validate() {
                                                setTimeout(function() {
                                                    $( "#button" ).removeClass( "onclic" );
                                                    $( "#button" ).addClass( "validate", 450, callback );
                                                }, 2250 );
                                            }
                                                function callback() {
                                                    setTimeout(function() {
                                                        $( "#button" ).removeClass( "validate" );
                                                    }, 1250 );
                                                }   
                                        });
                                    </script>
                            </div>
                        </div>
                    </form>
                    <div id="success">
                        <h2>送信完了しました。
                            <br>
                            ありがとうございました。
                            <br>

                        </h2>
                        <h3>
                            こちら、披露宴での写真の共有リンクになります。
                            <br>
                            <a href="https://photos.app.goo.gl/4HtEK7eVGLCbYGnHA
                            ">https://photos.app.goo.gl/4HtEK7eVGLCbYGnHA</a>
                        </h3>
                    </div>
                    
                    <!-- 送信が失敗したときに表示するテキスト -->
                    <div id="error">
                        <h2>送信に失敗しました。ページを更新して再度送信してください。</h2>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $("#googleform").submit(function (event) {
                                var attendance1 = $("#googleform input[name=attendance1]:checked").val();
                                var attendance2 = $("#googleform input[name=attendance2]:checked").val();
                                var FirstName = $("#googleform input[name=FirstName]").val();
                                var LastName = $("#googleform input[name=LastName]").val();
                                var firstname = $("#googleform input[name=firstname]").val();
                                var lastname = $("#googleform input[name=lastname]").val();
                                var postalcode = $("#googleform input[name=postalcode]").val();
                                var address = $("#googleform input[name=address]").val();
                                var email = $("#googleform input[name=email]").val();
                                var allergy = $("#googleform input[name=allergy]").val();
                                var message = $("#googleform input[name=message]").val();
                                
                                $.ajax({
                                    url: "https://docs.google.com/forms/d/e/1FAIpQLSeUZ86rszdUVDe8WPP9m0DxMsDOygm1zISC_0eQHezIaZH8cA/viewform?usp=sf_link",
                                    data: {
                                        "entry.975059739": attendance1,
                                        "entry.324250959": attendance2,
                                        "entry.1994453717": FirstName,
                                        "entry.1620822843": LastName,
                                        "entry.1219969065": firstname,
                                        "entry.1462943272": lastname,
                                        "entry.574647903": postalcode,
                                        "entry.670953149": address,
                                        "entry.708372901": email,
                                        "entry.1305233498": allergy,
                                        "entry.2052204914": message
                                    },
                                    type: "POST",
                                    dataType: "xml",
                                    statusCode: {
                                        0: function () {
                                            //送信に成功したときの処理
                                            $("form").slideUp();
                                            $('#success').slideDown();
                                        },
                                        200: function () {
                                            //送信に失敗したときの処理
                                            $("form").slideUp();
                                            $('#error').slideDown();
                                        }
                                    }
                                });
                                event.preventDefault();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script src="jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="jquery.fadethis.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>$(window).fadeThis();</script>
</body>
</html>